<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42800438877-g74din4mdbrvpd60le92r4l7jc6sfk1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42800438877-g74din4mdbrvpd60le92r4l7jc6sfk1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDyd8C67f24CFL0YV7Y2a8tWod9k-TYTv0</string>
	<key>GCM_SENDER_ID</key>
	<string>42800438877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>clone-tiktok-pleed0215</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-tiktok-pleed0215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42800438877:ios:d31d44456b13e7bcf377b4</string>
</dict>
</plist>